.form {
  width: 290px;
  min-height: 250px;
  margin-left: 20%;
  background: rgba(109, 53, 99, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding-top: 30px;
}
.submit {
  width: 120px;
  height: 40px;
  margin-top: 15px;
  background: skyblue;
  color: white;
  font-size: 17px;
  border: none;
  margin-bottom: 9px;
}
.input {
  height: 30px;
  border: none;
  box-shadow: 2px 3px 5px black;
  font-size: 20px;
  width: 220px;
}
/* from transactionList */
.edit {
  background: skyblue;
  border: none;
  margin-left: 5px;
  width: 80px;
  height: 30px;
}
.dlt {
  background: red;
  border: none;
  margin-left: 5px;
  width: 80px;
  height: 30px;
}
.one {
  margin-left: 100px;
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  width: 110px;
}
.two {
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  width: 80px;
}
.three {
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  width: 80px;
}
.four {
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  width: 80px;
}
